* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

/* Nav section */

nav {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid #D9FFF5;
}

.nav__left,
.nav__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divider,
.nav__middle {
    display: none;
}

.nav__left .icon-btn:nth-of-type(2) {
    height: 50px;
}

.nav__left::after {
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    margin-left: 5px;
}

@media (min-width: 768px) {
    nav {
        padding: 0 2rem;
    }

    .nav__side {
        display: flex;
        gap: 1rem;
    }

    .nav__middle {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav__middle::after {
        content: "";
        display: block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }

    .nav__left::after {
        display: none;
    }

    .divider {
        display: block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }
}

/* Upper Container section!!!!!! */

.services {
    background-color: #F8F8F8;
    height: auto;
    width: 100%;
}

.services__top {
    padding-top: 24px;
}

.services__top h1 {
    font-size: 28px;
    padding: 0 12px;
    border-left: 4px solid #41F6D7;
}

.services__action button,
.services__action a {
    display: none;
}

.services__control {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
    margin: 1rem;
    scrollbar-width: thin;
}

.services__btn {
    flex: 0 0 auto;
    height: 40px;
    padding: 0 1rem;
    border-radius: 6px;
    border: none;
    background-color: #f8f8f8;
    font-size: 1rem;
    color: #7e7e82;
    transition: all 0.3s ease;
    margin-left: 1rem;
}

.services__btn:first-child {
    width: 250px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    text-align: left;
    margin: 0;
}

button {
    border: none;
    background-color: #FFFFFF;
}


button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

@media(min-width: 768px) {
    .services__top h1 {
        padding: 0 2rem;
    }

    .services__action a {
        display: none;
    }

    .services__control {
        margin: 1.5rem;
        justify-content: flex-start;
        align-items: center;
    }

    .services__btn:first-child {
        margin-left: 1rem;
    }

}

/* Lower Container Section!!!!!! */

.services__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 35px;
}

.services__intro {
    width: 100%;
    margin-left: 1rem;
}

.services__intro p,
.services__intro span {
    width: 90%;
    letter-spacing: 0.2px;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
}

.services__intro span {
    display: none;
}

.services__more span {
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1B1C21;
}

.services__more {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.services__more button {
    background-color: transparent;
}

.cps-img {
    width: 100%;
}

@media (min-width: 768px) {
    .services__body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .services__intro p {
        margin-bottom: 10px;
    }

    .services__intro span:first-of-type,
    .services__more a {
        display: block;
    }

    .cps-img {
        margin-right: 25px;
        width: 100%;
        border-radius: 6px;
    }
}


@media (min-width: 1120px) {
    nav {
        display: none;
    }

    .services__top h1 {
        padding: 0 32px;
    }

    .services__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .services__action a {
        display: block;
        text-decoration: none;
        color: #1B1C21;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: -0.2px;
    }

    .services__action a:hover {
        cursor: pointer;
    }

    .services__action button {
        display: flex;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .services__action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 40%;
    }

    .services__control {
        flex-wrap: wrap;
        gap: 24px;
        overflow: visible;
    }

    .services__intro span {
        display: block;
    }

    .services__intro {
        margin-left: 34px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-size: 14px;
    }

    .services__more {
        margin-top: 2rem;
    }

    button {
        background-color: transparent;
    }

    .icon-btn:hover {
        background-color: #F8F8F8;
        border: none;
    }
}