* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.whole-container {
    width: 100vw;
    height: 100vh;
}

/* Nav section */

nav {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid #D9FFF5;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divider,
.middle-nav {
    display: none;
}

.burger-ic,
.repair-ic,
.checkstatus-ic,
.call-ic,
.chat-ic,
.profile-ic {
    width: 40px;
    height: 40px;
}

.logo-ic {
    width: auto;
    height: 50px;
}

.left-nav::after {
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    margin-left: 5px;
}

@media (min-width: 768px) {
    nav {
        padding: 0 2rem;
    }

    .side-nav {
        display: flex;
        gap: 1rem;
    }

    .middle-nav {
        display: flex;
        align-items: center;
        gap: 1rem;
    }


    .middle-nav::after {
        content: "";
        display: block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }

    .left-nav::after {
        display: none;
    }

    .divider {
        display: block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }
}

/* Upper Container section!!!!!! */

.services {
    background-color: #F8F8F8;
    height: auto;
    width: 100%;
}

.services__top {
    padding-top: 24px;
}



.services__top h1 {
    padding: 0 12px;
    border-left: 4px solid #41F6D7;
}

.services__action img,
.services__action a {
    display: none;
}

.services__control {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
    margin: 1rem;
    scrollbar-width: thin;
}

.services__btn {
    flex: 0 0 auto;
    height: 40px;
    padding: 0 1rem;
    border-radius: 6px;
    border: none;
    background-color: #f8f8f8;
    font-size: 1rem;
    color: #7e7e82;
    transition: all 0.3s ease;
}



.services__btn:first-child {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    text-align: left;
    padding: 0 16px;
    font-size: 1rem;
    color: #7E7E82;
}



button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

@media(min-width: 768px) {
    .services__top h1 {
        padding: 0 2rem;
    }

    .services__action a {
        display: none;
    }

    .services__control {
        margin: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }

    .services__btn:first-child {
        margin-left: 1rem;
    }

}

/* Lower Container Section!!!!!! */

.services__body {
    width: 100%;
    height: auto;
    padding-bottom: 35px;
}

.services__intro {
    width: 100%;
}

.services__intro p {
    width: 90%;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-left: 1rem;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 14px;
}

.services__intro .p2,
.p3 {
    display: none;
}

.services__more {
    display: flex;
    height: 24px;
    padding-left: 1rem;
    gap: 8px;
    margin-bottom: 1rem;
}

.services__more a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1B1C21;
}

.services__more a:hover {
    cursor: pointer;
}

.cps-img {
    width: 100%;

}

@media (min-width: 768px) {
    .services__body {
        display: flex;
        align-items: flex-start;

    }

    .services__intro p {
        margin-bottom: 10px;
    }

    .services__intro .p2,
    .services__more a {
        display: block;
    }

    .cps-img {
        margin-right: 25px;
        width: 100%;
        border-radius: 6px;
    }
}


@media (min-width: 1120px) {
    nav {
        display: none;
    }

    .services__top h1 {
        padding: 0 32px;
    }

    .services__header {
        display: flex;
        justify-content: space-between;
    }

    .services__action a {
        display: block;
        text-decoration: none;
        color: #1B1C21;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: -0.2px;
    }

    .services__action a:hover {
        cursor: pointer;
    }

    .services__action img {
        display: block;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .services__action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 40%;
    }

    .services__control {
        flex-wrap: wrap;
        gap: 24px;
        overflow: visible;
    }

    .services__btn:nth-child(6) {
        margin-left: 1rem;
    }


    .services__intro .p2,
    .p3 {
        display: block;
    }

    .services__intro {
        margin-left: 1rem;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-size: 14px;
    }

    .services__more {
        margin-top: 2rem;
    }
}